@page
@model Page.Pages.Article.IndexModel

@{
    ViewData["Title"] = "Index";
    var role = HttpContext.Session.GetString("role");

    if (role == null)
    {
        Response.Redirect("../Login");
    }

    // if (("1").Equals(role) || ("2").Equals(role)){
    //     Response.Redirect("../Login");
    // }
}

<h1>Article information</h1>


@{
    if (("1").Equals(role) || ("1").Equals(role))
    {
        <p>
            <a asp-page="Create" class="btn btn-primary">Create New</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].UpdatedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsArticle) {
        <tr>
                <td class="text-truncate" style="max-width:100px">
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
                <td class="text-truncate" style="max-width:100px">
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
                <td class="text-truncate" style="max-width:200px">
                @Html.DisplayFor(modelItem => item.NewsContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
                <td class="text-truncate" style="max-width:200px">
                @Html.DisplayFor(modelItem => item.Category.CategoryDesciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.AccountId)
            </td>
                @{
                    if (("1").Equals(role))
                    {
                        <td class="d-flex flex-column">
                            <a asp-page="./Edit" class="btn btn-small btn-success mb-2" asp-route-id="@item.NewsArticleId">Edit</a>
                            <a asp-page="./Details" class="btn btn-small btn-info mb-2" asp-route-id="@item.NewsArticleId">Details</a>
                            <a asp-page="./Delete" class="btn btn-small btn-danger" asp-route-id="@item.NewsArticleId">Delete</a>
                        </td>
                    }
                }
            
        </tr>
}
    </tbody>
</table>
